@model Movie


    <div class="detailscontainer">
        <div class="detailsleft">
            <h2>@Model.Title (Year: @Model.Year)</h2>
            <p>Stars: @Model.Stars</p>
            <p>Producer: @Model.Producer</p>
            <p>Genre: @Model.Genre</p>
            <p>Description: @Model.Description</p>

            <div class="detailsbuttons">
                <a class="edit" asp-controller="Edit" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="delete" asp-controller="Delete" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
        <div class="detailsright">
            <img src="~/movies/@Model.ImageName" alt="@Model.Title" />
        </div>
    </div>



