@model Movie

<h2>Edit Movie</h2>

<form method="post" action="@Url.Action("Edit", "Edit")" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="imagename" value="@Model.ImageName" />

    <div class="coolinput">
        <label for="Title" class="text">Title</label>
        <input placeholder="Write film title..." type="text" name="Title" required class="input" value="@Model.Title" />
    </div>
    <div class="coolinput">
        <label for="Producer" class="text">Producer</label>
        <input placeholder="Write film producer..." type="text" name="Producer" required class="input" value="@Model.Producer" />
    </div>
    <div class="coolinput">
        <label for="Genre" class="text">Genre</label>
        <input placeholder="Write film genre..." type="text" name="Genre" required class="input" value="@Model.Genre" />
    </div>
    <div class="coolinput">
        <label for="Year" class="text">Year</label>
        <input placeholder="Write film year..." type="number" name="Year" required class="input" value="@Model.Year" />
    </div>
    <div class="starsinput">
        <label for="Stars">Stars</label>
        <input class="stars" type="range" max="5" min="1" value="@Model.Stars" name="Stars" required />
    </div>
    <div class="coolinput">
        <label class="text" for="Description">Description</label>
        <textarea class="input" name="Description" required>@Model.Description</textarea>
    </div>
    <div class="imageinput">
        <label for="ImageFile">Image</label>
        <input accept="image/png, image/jpeg, image/gif, image/webp" type="file" name="ImageFile" />
    </div>
    <div>
        <input class="createbutton" type="submit" value="Save Changes" />
    </div>
</form>
